# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key

AIzaSyDNUFB01N6sBwZfPznGBiHayHJrON12pYw

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
#print(os.listdir('../output_data/cities.csv'))
cities_df = pd.read_csv("../output_data/cities.csv", encoding="utf-8")
cities_df.head()

,City,Country,Lat,Lng,Current Temp (°F),Min Temp (°F),Max Temp (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (unix)
0,longyearbyen,SJ,34.81,-106.73,83.59,82.40,84.20,11,1,8.05,1588029763
1,sola,VU,-21.21,-159.78,82.40,82.40,82.40,78,98,3.36,1588029764
2,mataura,PF,25.93,-105.37,87.73,87.73,87.73,9,40,12.84,1588029764
3,pochutla,MX,-34.42,19.23,60.04,60.04,60.04,77,42,17.58,1588029764
4,hambantota,LK,9.97,98.63,78.80,78.80,78.80,88,75,1.12,1588029764

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
humidity_map = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(cities_df[['Lat', 'Lng']], weights=cities_df['Humidity (%)'], dissipating=False)
humidity_map.add_layer(heatmap_layer)
humidity_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
pleasent_cities_df = cities_df.loc[(cities_df['Max Temp (\u00b0F)'] > 70) & (cities_df['Max Temp (\u00b0F)'] < 80) & (cities_df['Wind Speed (mph)'] < 10) & (cities_df['Cloudiness (%)'] == 0), :]
pleasent_cities_df.dropna(how='any')
pleasent_cities_df.reset_index(inplace=True)
del pleasent_cities_df['index']
pleasent_cities_df

,City,Country,Lat,Lng,Current Temp (°F),Min Temp (°F),Max Temp (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (unix)
0,acapulco,MX,-19.80,-63.22,73.74,73.74,73.74,53,0,5.97,1588029773
1,nyaunglebin,MM,26.16,32.72,78.80,78.80,78.80,34,0,2.24,1588029775
2,bontang,ID,-24.71,-47.56,72.34,72.34,72.34,83,0,7.07,1588029795
3,arraial do cabo,BR,-21.64,-41.05,72.37,72.37,72.37,71,0,8.32,1588029822
4,qaanaaq,GL,26.33,43.98,71.60,71.60,71.60,35,0,9.17,1588029835
5,lethem,GY,28.89,64.41,79.88,79.88,79.88,27,0,7.72,1588029858
6,kostyantynivka,UA,-17.34,-39.22,73.89,73.89,73.89,83,0,9.31,1588029863
7,blythe,US,-16.23,39.91,75.69,75.69,75.69,83,0,7.09,1588029889
8,san miguel,PA,26.78,75.20,77.00,77.00,77.00,65,0,8.05,1588029908
9,erenhot,CN,-22.97,-42.03,71.60,71.60,71.60,88,0,3.36,1588029803
10,klaksvik,FO,-21.35,165.15,78.84,78.84,78.84,59,0,5.10,1588029916
11,tuktoyaktuk,CA,24.69,46.72,73.40,73.40,73.40,35,0,3.36,1588029661
12,mto wa mbu,TZ,28.58,65.42,79.30,79.30,79.30,22,0,5.21,1588029941
13,hohhot,CN,12.25,75.10,79.66,79.66,79.66,82,0,5.79,1588029946
14,victoria point,AU,-15.20,12.15,75.04,75.04,75.04,57,0,5.48,1588029991
15,senador guiomard,BR,26.00,63.04,78.60,78.60,78.60,69,0,0.74,1588030049
16,chunskiy,RU,26.73,33.94,71.60,71.60,71.60,53,0,4.70,1588030060
17,carutapera,BR,-21.76,-52.12,70.48,70.48,70.48,65,0,7.87,1588029962

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
hotels = []

for i in range(len(pleasent_cities_df)):
    lat = pleasent_cities_df.loc[i]['Lat']
    lng = pleasent_cities_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotels.append("")
pleasent_cities_df["Hotel Name"] = hotels
hotels_df = pleasent_cities_df.dropna(how='any')
hotels_df.head()

<ipython-input-29-8f4d3ab4cac0>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pleasent_cities_df["Hotel Name"] = hotels

,City,Country,Lat,Lng,Current Temp (°F),Min Temp (°F),Max Temp (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (unix),Hotel Name
0,acapulco,MX,-19.80,-63.22,73.74,73.74,73.74,53,0,5.97,1588029773,Charagua
1,nyaunglebin,MM,26.16,32.72,78.80,78.80,78.80,34,0,2.24,1588029775,Qena
2,bontang,ID,-24.71,-47.56,72.34,72.34,72.34,83,0,7.07,1588029795,Ilha Comprida
3,arraial do cabo,BR,-21.64,-41.05,72.37,72.37,72.37,71,0,8.32,1588029822,Grussaí
4,qaanaaq,GL,26.33,43.98,71.60,71.60,71.60,35,0,9.17,1588029835,Buraydah

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotels = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]

In [32]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations)
humidity_map.add_layer(marker_layer)

# Display figure
humidity_map

Figure(layout=FigureLayout(height='420px'))